node_modules

.output
.nuxt
dist

.git
.gitignore
.vscode
.idea

logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

.env
.env.*
!.env.example

.DS_Store
Thumbs.db

coverage
.nyc_output

.cache
.temp
.tmp
