shamefully-hoist=true
only-built-dependencies[]=better-sqlite3
only-built-dependencies[]=esbuild
only-built-dependencies[]=sharp
only-built-dependencies[]=@parcel/watcher
strict-peer-dependencies=false
