.dark-mode {
  --background: theme('colors.gray.800');
  --accent: theme('colors.gray.900');
  --primary: theme('colors.white');
  --muted: theme('colors.gray.300');
}

.light-mode {
  --background: theme('colors.gray.200');
  --accent: theme('colors.gray.100');
  --primary: theme('colors.gray.800');
  --muted: theme('colors.gray.700');
}

:root {
  background-color: var(--background, theme('colors.gray.800'));
  color: var(--primary, theme('colors.white'));
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:not([href]) {
  opacity: 0.5;
  pointer-events: none;
}

p + p, p + blockquote {
  @apply mt-4;
}

.animated-gradient {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes fadeInAndMoveUp {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeInMoveUp {
  animation: fadeInAndMoveUp 1s ease-out forwards;
}

.bg-clip-text {
  -webkit-background-clip: text;
  background-clip: text;
}
